body {
    display: flex;
    flex-wrap: wrap;
}

.money-or-play {
    width: 100%;
    display: flex;
}

.money, .play {
    width: 50%;
}

/*play board*/
.playboard {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.question {
    width: 100%;
    margin: 1em;
}

.answer {
    margin: 1em;
    width: calc((100% - 8px - 8em)/4);
}

.